<!-- Copyright 2015 Kazantzis Lazaros -->

<div class="search_div col-md-10 col-sm-12 col-xs-12 left-div">
    <div id="select-source-div" class="col-md-6">
      <h5><%= (t :select_source) %></h5>
      <select id="select-source" class="form-control">
        <optgroup label="<%= (t 'search_sources.acad_search_engine.group_title') %>"></optgroup>
        <option value="gs" <%= @search_source = 'gs' ? 'selected="selected"' : '' %>><%= (t 'search_sources.acad_search_engine.options.gs').html_safe %></option>
        <optgroup label="<%= (t 'search_sources.gr_repo.group_title') %>"></optgroup>
        <option value="eadd" <%= @search_source == 'eadd' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.eadd').html_safe %></option>
        <option value="helios" <%= @search_source == 'helios' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.helios').html_safe %></option>
        <option value="acropolis" <%= @search_source == 'acropolis' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.acropolis').html_safe %></option>
        <option value="ellak" <%= @search_source == 'ellak' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.ellak').html_safe %></option>
        <option value="edulll" <%= @search_source == 'edulll' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.edulll').html_safe %></option>
        <option value="parthenon" <%= @search_source == 'parthenon' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.parthenon').html_safe %></option>
        <option value="pandektis" <%= @search_source == 'pandektis' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.pandektis').html_safe %></option>
        <option value="simitis" <%= @search_source == 'simitis' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.simitis').html_safe %></option>
        <option value="levadia" <%= @search_source == 'levadia' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.levadia').html_safe %></option>
        <option value="serres" <%= @search_source == 'serres' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.serres').html_safe %></option>
        <option value="byzant" <%= @search_source == 'byzant' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.byzant').html_safe %></option>
        <option value="historical" <%= @search_source == 'historical' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.historical').html_safe %></option>
        <option value="tekmiria" <%= @search_source == 'tekmiria' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.tekmiria').html_safe %></option>
        <option value="latic" <%= @search_source == 'latic' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.latic').html_safe %></option>
        <option value="deltiokms" <%= @search_source == 'deltiokms' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.deltiokms').html_safe %></option>
        <option value="dialogoi" <%= @search_source == 'dialogoi' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.dialogoi').html_safe %></option>
        <option value="grsr" <%= @search_source == 'grsr' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.grsr').html_safe %></option>
        <option value="esperia" <%= @search_source == 'esperia' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.esperia').html_safe %></option>
        <option value="historein" <%= @search_source == 'historein' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.historein').html_safe %></option>
        <option value="makedonika" <%= @search_source == 'makedonika' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.makedonika').html_safe %></option>
        <option value="mnimon" <%= @search_source == 'mnimon' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.mnimon').html_safe %></option>
        <option value="eranistis" <%= @search_source == 'eranistis' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.eranistis').html_safe %></option>
        <option value="benaki" <%= @search_source == 'benaki' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.benaki').html_safe %></option>
        <option value="childeducation" <%= @search_source == 'childeducation' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.childeducation').html_safe %></option>
        <option value="sygkrisi" <%= @search_source == 'sygkrisi' ? 'selected="selected"' : '' %>><%= (t 'search_sources.gr_repo.options.sygkrisi').html_safe %></option>
      </select>
    </div>
    <form id="search_gs_form" class="col-md-12" onsubmit="return false;">
      <div class="form-group has-success col-md-11">
        <input type="text" class="form-control" id="search_gs_input" name="q" placeholder="<%= t :search_gs %>"
          value="<%= @search_gs unless @search_gs.nil? %>"
        />
        <span id="search_gs_more" class="glyphicon glyphicon-triangle-bottom" title="<%= I18n.t('adv_search.header').html_safe %>" data-toggle="modal" data-target="#searchMoreModal"></span>
        <p class="help-block"><%= (t :search_all_keyword).html_safe %></p>
      </div>
      <div class="form-group col-md-1">
        <button id="search_gs_btn" class="btn btn-success pull-right">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </form>

    <div class="search_gs_results col-md-12"></div>
    <div class="paging paging_bottom col-md-12">
      <div id="paging_gs_results"></div>
      <form>
        <div id="rows_div">
          <%= (t :results_per_page) %>
          <select class="rowsPerPage btn btn-sm btn-default" name="rowsPerPage">
            <option value="10">10</option>
            <option value="20">20</option>
          </select>
        </div>
      </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="searchMoreModal" tabindex="-1" role="dialog" aria-labelledby="searchMoreModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="searchMoreModalLabel"><%= I18n.t('adv_search.header').html_safe %></h4>
      </div>
      <div class="modal-body">
        <div style="margin-bottom: 10px"><%= I18n.t('adv_search.f_arts').html_safe %></div>
        <form id="search_more_form" class="form-horizontal" onsubmit="return false;">
          <div class="form-group form-group-sm">
            <label for="gs_asd_q" class="col-md-5 control-label"><%= I18n.t('adv_search.all_words').html_safe %></label>
            <div class="col-md-7">
              <input type="text" autocapitalize="off" id="gs_asd_q" value="" name="as_q" class="form-control">
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label for="gs_asd_epq" class="col-md-5 control-label"><%= I18n.t('adv_search.exact_phrase').html_safe %></b></label>
            <div class="col-md-7">
              <input type="text" autocapitalize="off" id="gs_asd_epq" value="" name="as_epq" class="form-control">
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label for="gs_asd_oq" class="col-md-5 control-label"><%= I18n.t('adv_search.at_least_one').html_safe %></label>
            <div class="col-md-7">
              <input type="text" autocapitalize="off" id="gs_asd_oq" value="" name="as_oq" class="form-control">
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label for="gs_asd_eq" class="col-md-5 control-label"><%= I18n.t('adv_search.without').html_safe %></label>
            <div class="col-md-7">
              <input type="text" autocapitalize="off" id="gs_asd_eq" value="" name="as_eq" class="form-control">
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label for="gs_asd_occt" class="col-md-5 control-label"><%= I18n.t('adv_search.words_occur').html_safe %></label>
            <div class="col-md-7">
              <select id="gs_asd_occt" class="form-control" name="as_occt" style="font-weight: bold;">
                <option value="any"><%= I18n.t('adv_search.occur_opt1').html_safe %></option>
                <option value="title"><%= I18n.t('adv_search.occur_opt2').html_safe %></option>
              </select>
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label for="gs_asd_sau" class="col-md-5 control-label"><%= I18n.t('adv_search.authored_by').html_safe %></label>
            <div class="col-md-7">
              <input type="text" autocapitalize="off" id="gs_asd_sau" value="" name="as_sauthors" class="form-control">
              <span class="help-block"><%= "#{I18n.t('for_example')} #{I18n.t('adv_search.auth_example')}".html_safe %></span>
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label for="gs_asd_pub" class="col-md-5 control-label"><%= I18n.t('adv_search.published_in').html_safe %></label>
            <div class="col-md-7">
              <input type="text" autocapitalize="off" id="gs_asd_pub" value="" name="as_publication" class="form-control">
              <span class="help-block"><%= "#{I18n.t('for_example')} #{I18n.t('adv_search.publ_example')}".html_safe %></span>
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label for="gs_asd_ylo" class="col-md-5 control-label"><%= I18n.t('adv_search.art_dates').html_safe %></label>
            <div class="col-md-7">
              <input type="text" pattern="[0-9]*" autocapitalize="off" maxlength="4" size="4" id="gs_asd_ylo" value="" name="as_ylo" class="form-control pull-left" style="width: auto">
              <span class="pull-left" style="height: 34px; padding: 6px 0px;">&nbsp;&mdash;&nbsp;</span>
              <input type="text" pattern="[0-9]*" autocapitalize="off" maxlength="4" size="4" id="gs_asd_yhi" value="" name="as_yhi" class="form-control" style="width: auto">
              <span class="help-block"><%= I18n.t('for_example').html_safe %> <i>2008</i></span>
            </div>
          </div>
          <!-- <input type="hidden" value="el" name="hl"><input type="hidden" value="0,5" name="as_sdt"> -->
          <button id="search_gs_adv_btn" class="btn btn-success" style="width: 80px;"><span class="glyphicon glyphicon-search"></span></button>
        </form>
      </div>
    </div>
  </div>
</div>

