<%- provide(:title, (t :search_results)) %>

<h3><%= t :search_results %></h3>
<h4><%= t :project_results %></h4>
<%- if @projects.count.zero? %>
    <%= t :no_results %>
<%- else %>
  <ol>
    <%- @projects.each do |project| %>
      <li><a href="<%= project_path(project.id) %>"><%= project.title %></a></li>
    <% end %>
  </ol>
<% end %>
<h4><%= t :user_results %></h4>
<%- if @users.count.zero? %>
    <%= t :no_results %>
<%- else %>
    <ol>
      <%- @users.each do |user| %>
          <li><a href="<%= user_path(user.id) %>"><%= user.username %></a></li>
      <% end %>
    </ol>
<% end %>