<!-- Copyright 2015 Kazantzis Lazaros -->

<% @results.each do |res| %>
    <div class="gs_r">
      <div class="gs_ggs gs_fl">
        <button class="gs_btnFI gs_in_ib gs_btn_half" id="gs_ggsB0" type="button">
          <span class="gs_wr">
            <span class="gs_lbl"></span>
            <span class="gs_ico"></span>
          </span>
        </button>
        <div id="gs_ggsW0" class="gs_md_wp gs_ttss">
          <a data-clk="hl=en&amp;sa=T&amp;oi=gga&amp;ct=gga&amp;cd=0&amp;ei=yiv3VceYCImYjAHzwjk" href="<%= res['pdf_link'] %>">
            <span class="gs_ggsL">
              <span class="gs_ctg2">[PDF]</span> from <%= res['domain'] %></span>
            <span class="gs_ggsS"><%= res['domain'] %> <span class="gs_ctg2">[PDF]</span></span>
          </a>
        </div>
      </div>
      <div class="gs_ri">
        <h3 class="gs_rt">
          <a data-clk="hl=en&amp;sa=T&amp;ct=res&amp;cd=0&amp;ei=yiv3VceYCImYjAHzwjk" href="<%= res['identifier'] %>">
            <%= res['title'] %>
          </a>
        </h3>
        <div class="gs_a">
          <%= res['creator'] %> - <%= res['publisher'] %>, <%= res['date'] %> - <%= res['domain'] %>
        </div>
        <div class="gs_rs">
          <%= res['description'].html_safe unless res['description'].nil? %>
        </div>
        <div class="gs_fl">
          <a aria-haspopup="true" aria-controls="gs_cit" role="button" class="gs_nph" href="#" title="Check what to return [parse identifier citation div]" onclick="return helios_cite() // gs_ocit(event,'5F6EenTzb4cJ','0')">Cite</a>
          <span class="gs_nph">
            <a title="Save this article to my library so that I can read or cite it later...<br/>parse identifier citation div" href="#" onclick="return gs_sva('5F6EenTzb4cJ','0')" id="gs_svl0">Save</a>
            <span class="gs_svm" id="gs_svo0">Saving<span id="gs_svd0">...</span></span>
            <a style="display:none" id="gs_svs0">Saved</a>
            <span class="gs_svm" id="gs_sve0">Error saving. <a href="#" onclick="return gs_sva('5F6EenTzb4cJ','0')">Try again?</a></span>
          </span>
          <a onclick="return gs_more(this,1)" role="button" class="gs_mor gs_oph" href="#">More</a>
          <a onclick="return gs_more(this,0)" role="button" class="gs_nvi" href="#">Fewer</a>
        </div>
      </div>
    </div>
<% end %>