<!-- Copyright 2015 Kazantzis Lazaros -->

<%= form_for @user, url: pass_recover_path, html: { id: 'pass_recover', class: 'pass_recover' } do |f| %>
    <%- if @user.errors.any? do %>
        <div id="error_explanation">
          <h2>
            <%= t :error, count: @user.errors.count %> <%= t :user_prohibit %>
          </h2>
          <ul>
            <%- @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <% end %>
    <div class="form-group">
      <%= f.text_field :username, :class => 'form-control input-lg', :placeholder => (t :username) %>
    </div>
    <div class="form-group">
      <%= "-- #{(t :word_or)} --" %>
    </div>
    <div class="form-group">
      <%= f.text_field :email, {:class => 'form-control input-lg', :placeholder => 'Email', :type => 'email'} %>
    </div>
    <div class="form-group" id="recover-error"></div>
    <div class="actions">
      <%= f.submit (t :submit), :id => 'pass_rec', :class => 'btn btn-lg btn-success btn-block' %>
    </div>
<% end %>