<!-- Copyright 2015 Kazantzis Lazaros -->

<div class="col-md-4 col-sm-4 col-xs-4">
    <%= form_for @user do |f| %>
      <%- if @user.errors.any? do %>
        <div id="error_explanation">
          <h2>
            <%= t :error, count: @user.errors.count %> <%= t :user_prohibit %>
          </h2>
          <ul>
            <%- @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% end %>
      <div class="form-group">
        <%= f.text_field :username, :class => 'form-control input-lg', :placeholder => (t :username) %>
      </div>
      <div class="form-group">
        <%= f.text_field :email, {:class => 'form-control input-lg', :placeholder => 'Email', :type => 'email'} %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, {:class => 'form-control input-lg', :placeholder => (t :password)} %>
      </div>
      <div class="actions">
        <%= f.submit (t :register), :class => 'btn btn-lg btn-success btn-block new_user' %>
      </div>
    <% end %>
</div>