<div class="invite-user col-md-12 collapse-group">
  <button type="button" id="invite-user-btn" class="btn btn-xs btn-info"><%= (t :invite_user) %></button>

  <div id="invite-user-div">
    <%- if @owner %>
        <%= form_tag({controller: 'invitations', action: 'create', project_id: "#{@project.id}"}, id: 'invite-user-form', class: 'form-horizontal') do %>
            <div class="form-group">
              <label for="user-email" class="col-md-5 control-label">User email</label>
              <div class="col-md-7">
                <%= email_field_tag 'invitation[email]', nil, { :class => 'form-control', :placeholder => 'Search user by email' } %>
              </div>
            </div>
            <!--
            <div class="form-group">
              <label for="user-profile" class="col-md-5 control-label">User profile</label>
              <div class="col-md-7">
                <%# collection_select 'invitation[profile]', ProjectProfile.all, 'id', 'description', {include_blank: false}, { :class => 'form-control', :value => 2} %>
                <%= select_tag 'invitation[profile]', options_from_collection_for_select(ProjectProfile.all, 'id', 'label'), { :include_blank => false, :class => 'form-control' } %>
              </div>
            </div>
            -->
            <div class="form-group">
              <div class="col-md-offset-8 col-md-4">
                <button type="submit" class="btn btn-sm btn-success"><%= (t :send) %></button>
              </div>
            </div>
        <% end %>
    <% end %>

  </div>

  <script type="text/javascript">
      var element = $('#invitation_email');
      $.ajax({
          url: '/users_autocomplete',
          type: "get",
          cache: false,
          dataType: "json",
          success: function(users) {
              element.autocomplete({
                  minLength: 1,
                  source: function(request, response) {
                      var matches = $.map(users, function(userItem) {
                          if (userItem.email.toLowerCase().indexOf(request.term.toLowerCase()) === 0) {
                              return userItem;
                          }
                      });
                      response(matches);
                  },
                  // focus: function(event, ui) {
                  // element.val(ui.item.email); //  + ' (' + ui.item.username + ')');
                  // return false;
                  //},
                  select: function(event, ui) {
                      element.val(ui.item.email); // + ' (' + ui.item.username + ')');
                      element.attr('rel', ui.item.email);
                      return false;
                  }
              })
                      .data("ui-autocomplete")._renderItem = function(ul, item) {
                  return $("<li></li>")
                          .append("<a style='font-size: 12px !important; font-weight: normal; cursor: pointer;'>" +
                          "<span style='color: #01ade4'>" + item.email.substring(0, element.val().length) + "</span>" +
                          item.email.substring(element.val().length) /* + " (" + item.username + ')' */ + "</a>")
                          .appendTo(ul);
              };
          }
      });
  </script>
</div>