<%- provide(:title, (t :projects)) %>

<h3><%= t :your_projects %></h3>

<div class="col-md-7 projects_table">
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th><%= (t :title) %></th>
        <th><%= (t :description) %></th>
        <th><%= (t :private) %></th>
      </tr>
    </thead>
    <tbody>
      <%- @projects.each do |project| %>
        <tr id=<%= "projects/#{project.id}" %>>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          <td>
            <%- if project.is_private %>
                <%= (t :yes) %>
            <%- else %>
                <%= (t :no) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to (t :create_project), new_project_path, :class => "btn btn-success create_project" %>
</div>

<div class="col-md-5 search_div">
  <%= render "static_pages/search_gs" %>
</div>