<%- provide(:title, (t :projects)) %>

<div class="col-md-10 left-div">
    <h3><%= t :your_projects %></h3>
    <div class="projects_table">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th><%= (t :title) %></th>
            <th><%= (t :description) %></th>
            <th><%= (t :private) %></th>
          </tr>
        </thead>
        <tbody>
          <%- @projects.each do |project| %>
            <tr id=<%= "projects/#{project.id}" %>>
              <td><%= project.title %></td>
              <td><%= project.description %></td>
              <td>
                <%- if project.is_private %>
                    <%= (t :word_yes) %>
                <%- else %>
                    <%= (t :word_no) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to (t :create_project), new_project_path, :class => "btn btn-success create_project" %>
    </div>
</div>

<%=render 'static_pages/search_gs' %>