<h3 class="project_title">
  <%= @project.title %>
  <span class="project_updated help-block">
    <%= "#{(t :created_at)} #{l @project.created_at, format: :long} - " %>
    <%= "#{(t :last_modified)} #{@updated_at}" %>
  </span>
</h3>

<div class="col-md-7 project_files_table">
  <div class="project_description"><%= @project.description %></div>

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th></th>
        <th><%= (t :filename) %></th>
        <th><%= (t :created_at) %></th>
        <th><%= (t :last_modified) %></th>
        <!--
        <th></th>
        <th></th>
        <th></th>
        -->
      </tr>
    </thead>
    <tbody>
      <%- @project_files.each do |file| %>
        <tr class="pr_file_row" rel="<%= file.project_id %>">
          <td class="pr_file" rel="<%= file.id %>"><%= file.is_basic ? (t :main_file) : '' %></td>
          <td rel="<%= file.filepath %>"><%= file.filename %></td>
          <td><%= file.created_at %></td>
          <td><%= file.updated_at %></td>
          <!--
          <td><%= link_to (t :show), @project %></td>
          <td><%= link_to (t :edit), edit_project_path(@project) %></td>
          <td><%= link_to (t :delete), @project, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
          -->
        </tr>
      <% end %>
    </tbody>
  </table>

  <%- if @owner %>
    <%= link_to (t :edit), edit_project_path(@project), :class => 'btn btn-sm btn-warning' %>
  <% end %>
  <%= link_to (t :back), projects_path, :class => 'btn btn-sm btn-default' %>
  <%- if @owner or @contributor %>
      <%# link_to (t :back), @project,  :class => 'btn btn-sm btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' } %>
      <%= form_tag({controller: 'project_files', action: 'create', project_id: "#{@project.id}"}, multipart: true, id: 'upload_form') do %>
        <%= file_field_tag 'project_file[filename]' %>
        <button class="btn btn-sm btn-success" id="file_btn" type="button"><%= t :upload_file %></button>
        <%= hidden_field_tag 'project_file[filepath]', "#{@project.id/100}/#{@project.id}" %>
      <% end %>
  <% end %>
</div>

<%- if @owner or @contributor %>
    <div class="col-md-5 search_div">
      <%=render 'static_pages/search_gs' %>
    </div>

    <input id="project_id" type="hidden" value="<%= @project.id %>" />
<% end %>