<h3 class="project_title">
  <%= @project_file.filename %>
  <span class="project_updated help-block">
    <%= "#{(t :created_at)} #{l @project_file.created_at, format: :long} - " %>
    <%= "#{(t :last_modified)} #{@updated_at}" %>
  </span>
</h3>

<div class="col-md-7 project_file">
  <embed width="100%" height="860" style="border:1px solid #ccc" src="<%= @project_file.filepath %>" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
  <!--
  <%= link_to (t :edit),
                "/#{Language.find(@current_user.user_info.language_id).locale}/projects/#{@project_file.project.id}/project_files/#{@project_file.id}/edit" %>
    \|
    -->
    <%= link_to (t :back), project_path(@project_file.project), :class => 'btn btn-sm btn-default' %>
</div>

<div class="col-md-5 search_div">
  <%=render 'static_pages/search_gs' %>
</div>

<input id="project_id" type="hidden" value="<%= @project_file.project.id %>" />
