<h3 class="project_title">
  <%= @project_file.filename %>
  <span class="project_updated help-block">
    <%= "#{(t :created_at)} #{l @project_file.created_at, format: :long} - " %>
    <%= "#{(t :last_modified)} #{@updated_at}" %>
  </span>
</h3>

<div class="col-md-7 project_file">
  <object width="100%" height="860"
         data="
            <%- if @project_file.filepath[0..3] == 'http' %>
              <%= @project_file.filepath %>
            <%- else %>
              <%= "/#{params[:locale]}/projects/#{@project_file.project.id}/project_files/#{@project_file.id}/get_file" %>
            <% end %>
            "
         alt="<%= @project_file.extension %>" type="<%= @filetype %>">
    <a href="<%= "/#{params[:locale]}/projects/#{@project_file.project.id}/project_files/#{@project_file.id}/get_file" %>">No Support?</a>
  </object>

  <%- if @can_edit %>
    <%= link_to (t :edit), edit_project_project_file_path(@project_file.project, @project_file), :class => 'btn btn-sm btn-warning' %>
  <% end %>

  <%= link_to (t :back), project_path(@project_file.project), :class => 'btn btn-sm btn-default' %>
</div>

<div class="col-md-5 search_div">
  <%=render 'static_pages/search_gs' %>
</div>

<input id="project_id" type="hidden" value="<%= @project_file.project.id %>" />
