<!DOCTYPE html>
<html>
<head>
  <title>Researchgr | <%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" %>
  <%= javascript_include_tag 'translations' %>
  <%= javascript_tag "I18n.defaultLocale = '#{I18n.default_locale}'; I18n.locale = '#{I18n.locale}';" %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsible-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">ResearchGr</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="collapsible-navbar">
      <%- unless @current_user.nil? %>
        <form class="navbar-form navbar-left" role="search" onsubmit="return false;">
          <div class="form-group">
            <input type="text" id="search" class="form-control" placeholder="<%= (t :search) %>" autocomplete="off">
          </div>
        </form>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <%- unless @current_user.nil? %>
          <% invitation_count = @current_user.invitations.where('status = ?', 'pending').count %>
          <%- unless invitation_count.zero? %>
            <li>
              <!-- <a href="<%= user_invitations_path(@current_user) %>" class="active" id="invitations-link"><%= (t :invitations) %> <span class="badge active"><%= invitation_count %></span></a> -->
              <a href="#" class="active" id="invitations-link"><%= (t :invitations) %> <span class="badge active"><%= invitation_count %></span></a>
              <input type='hidden' id='discard-options' value='
                <%- (t :discard_comment).each do |option| %>
                <%= "<option value=\"#{option}\">#{option}</option>" %>
                <% end %>
              '>
              <input type='hidden' id='report-options' value='
                <%- (t :report_comment).each do |option| %>
                <%= "<option value=\"#{option}\">#{option}</option>" %>
                <% end %>
              '>
              <script type="text/javascript">
                $(document).ready(function(){
                    checkInvitations();
                });
              </script>
            </li>
          <% end %>
          <li><a href="<%= projects_path %>"><%= (t :my_projects) %></a></li>
        <% end %>
        <!--
        <li><a href="#">Another Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        -->
        <%- if @current_user.nil? %>
            <li><button id="sign-in" class="btn btn-success sign-in-out"><%= (t :sign_in) %></button></li>
        <%- else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= @current_user.username %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="<%= user_path(@current_user.id) %>"><%= (t :profile) %></a></li>
                <%- if @current_user.can_access?('user_list') %>
                  <li><a href="<%= users_path %>"><%= (t :list_users) %></a></li>
                <% end %>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><%= link_to (t :sign_out), '/logout' %></li>
              </ul>
            </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div id="main">
    <%- if flash[:notice] %>
        <div id="notice" class="message">
          <%= flash[:notice].html_safe %>
        </div>
    <%- elsif flash[:alert] %>
        <div id="alert" class="message">
          <%= flash[:alert].html_safe %>
        </div>
    <% end %>
    <%= yield %>
  </div>
</div>

<div class="footer container">
  <h5>Footer Content to be added...</h5>
</div>
</body>
</html>
